{% extends 'back/master.html' %}
{% load static %}



{% block mainblock %}

<!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Comment<br><small></small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Comment</li>
        <li><a href=""></a></li>
    </ul>
<!-- END Datatables Header -->

<!-- Datatables Content -->
                        <div class="block full">
                            <div class="block-title">
                                <h2><strong>Comment</strong> List</h2>
                            </div>
                            <p><a href="https://datatables.net/" target="_blank">DataTables</a> is a plug-in for the Jquery Javascript library. It is a highly flexible tool, based upon the foundations of progressive enhancement, which will add advanced interaction controls to any HTML table. It is integrated with template's design and it offers many features such as on-the-fly filtering and variable length pagination.</p>

                            <div class="table-responsive">
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Name</th>
                                            <th class="text-center">Date | Time</th>
                                            <th class="text-center">Email</th>
                                            <th class="text-center">comment</th>

                                            <th class="text-center">Status</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% for cc in comment %}
                                        <tr>
                                            <td class="text-center">{{cc.pk}}</td>
                                            <td class="text-center">{{cc.name}}</td>
                                            <td class="text-center">{{cc.date}} | {{cc.time}}</td>
                                            <td class="text-center">{{cc.email}}</td>
                                            <td class="text-center">{{cc.cm}}</td>

                                            {% if cc.status == 0 %}
                                            <td class="text-center">Pending</td>
                                            {% elif cc.status == 1 %}
                                            <td class="text-center">Confirmed</td>
                                            {% endif %}

                                            <td class="text-center">
                                                <div class="btn-group">
                                                    {% if cc.status == 0 %}
                                                    <a href="{% url 'comment_confirm' pk=cc.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> confirm</a>
                                                    {% elif cc.status == 1 %}
                                                    <a data-toggle="tooltip" class="btn btn-xs btn-safe"><i class="fa fa-check"></i> confirmed</a>
                                                    {% endif %}
                                                    <a href="{% url 'comment_del' pk=cc.pk %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"></i> Delete</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
<!-- END Datatables Content -->



{% endblock %}

{% block footerblock %}

        <!-- Load and execute javascript code used only in this page -->
        <script src=" {% static 'back/js/pages/tablesDatatables.js' %} "></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}