{% extends 'back/master.html' %}
{% load static %}

{% block headblock %}
<script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>
{% endblock%}


{% block mainblock %}

<!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Edit News<br><small> Edit News here</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>News</li>
        <li><a href="/panel/news_edit/{{pk}}">Edit</a></li>
    </ul>
<!-- END Datatables Header -->

                    <div class="row">
                            <div class="col-md-12">
                                <!-- Basic Form Elements Block -->
                                <div class="block">
                                    <!-- Basic Form Elements Title -->
                                    <div class="block-title">
                                        <div class="block-options pull-right">
                                            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">No Borders</a>
                                        </div>
                                        <h2><strong>Edit</strong> News</h2>
                                    </div>
                                    <!-- END Form Elements Title -->

                                    <!-- Basic Form Elements Content -->
                                    <form action="{% url 'news_edit' pk=pk %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="text" id="newstitle" value="{{news.name}}" name="newstitle" class="form-control" placeholder="News Title">
                                            </div>

                                            <div class="col-md-6">

                                                <select id="Zimb" name="Zimb" class="select-chosen" data-placeholder="Choose a Category.." style="width: 250px;">

                                                    <option value="{{news.catid}}">{{news.catname}}</option>

                                                    {% for i in cat %}
                                                    <option value="{{i.pk}}">{{i.catname}} | {{i.name}}</option>
                                                    {% endfor %}

                                                </select>

                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <textarea id="editor1" name="newstxtshort" rows ="5" class="form-control" placeholder="Short txt">{{news.short_txt}}</textarea>
                                            </div>
                                            <script>
                                                ClassicEditor
                                                    .create( document.querySelector( '#editor1' ) )
                                                    .catch( error => {
                                                        console.error( error );
                                                    } );
                                            </script>
                                            <div class="col-md-12">
                                                <textarea id="editor" name="newstxt" rows ="5" class="form-control" placeholder="Body txt">{{news.body_txt}}</textarea>
                                            </div>
                                            <script>
                                                ClassicEditor
                                                    .create( document.querySelector( '#editor' ) )
                                                    .catch( error => {
                                                        console.error( error );
                                                    } );
                                            </script>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <input type="file" id="myfile" name="myfile" class="form-control">
                                            </div>
                                             <div class="col-md-6">
                                                <textarea id="tag" name="tag" class="form-control" placeholder="Tag">{{news.tag}}</textarea>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <img src="{{news.picurl}}" style="display: inline-block; width:300px; height:300px ">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END Basic Form Elements Content -->
                                </div>
                                <!-- END Basic Form Elements Block -->
                            </div>
                    </div>


{% endblock %}

{% block footerblock %}

        <!-- Load and execute javascript code used only in this page -->
        <script src=" {% static 'back/js/pages/tablesDatatables.js' %} "></script>
        <script>$(function(){ TablesDatatables.init(); });</script>
{% endblock %}
